<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Intenções de Financiamentos</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstraptheme.min.css}"
	rel="stylesheet" />

<style>
.logo-container {
	background-color: #000000;
	color: #fff;
}
</style>

</head>
<body>
	<div class="container">
		<div class="w-auto p-3 mt-3 logo-container">INTENÇÕES DE FINANCIAMENTO</div>

		<div>
			<h1 class="display-6">TODOS CLIENTES</h1>
		</div>
		 
		<form th:action="@{/novo-cliente}">
			<div>
				<button type="submit" class="btn btn-light">Nova Intenção</button>
			</div>
		</form>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Cliente</th>
					<th scope="col">Tipo Financiamento</th>
					<th scope="col">Valor intenção</th>
					<th scope="col">Quantidade parcelamento</th>
					<th class="text-center" scope="col">EDITAR</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.nomeCliente}"></td>
					<td th:text="${cliente.Categoria}"></td>
					<td th:text="${cliente.valorIntencao}"></td>
					<td th:text="${cliente.quantidadeParcelas}"></td>
					
					<td class="text-center">
						<a th:href="@{/cliente/{id}(id = ${cliente.id})}" class="btn btn-primary">DETALHAR</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
